In [7]:
import pandas as pd
import numpy as np

In [8]:
data = "data/"
set_a =  "data/set-a/142640.txt"
set_b = data + "set_b/"
# set_c = data + "set_c/"
# Load the data
df = pd.read_csv(set_a, sep=",")

In [10]:
print(df.head())
df

    Time Parameter     Value
0  00:00  RecordID  142640.0
1  00:00       Age      65.0
2  00:00    Gender       1.0
3  00:00    Height      -1.0
4  00:00   ICUType       3.0

      Time  Parameter     Value
0    00:00   RecordID  142640.0
1    00:00        Age      65.0
2    00:00     Gender       1.0
3    00:00     Height      -1.0
4    00:00    ICUType       3.0
..     ...        ...       ...
359  47:25  NIDiasABP      58.0
360  47:25      NIMAP      71.0
361  47:25   NISysABP     107.0
362  47:25   RespRate      13.0
363  47:25     Weight     105.1

[364 rows x 3 columns]